/* Color Guide
red #CC2121 white #CCC9AD blue #3333AA
#2921CC
*/

body {
	background-color: black;
	color: #CCC9AD;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: x-large;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

footer, nav {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

a:link {
	color: #3333AA;
}

a:visited {
	color: #CC2121;
}

a:hover {
	color: #CCC9AD;
}

a:active {
	color: #CCC9AD;
}

.link, #index, #random {
	color: black !important;
	border: none;
	padding: 0.5ch 1ch;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	font-variant: small-caps;
	font-weight: bold;
	border-radius: 0.5ch;
	transition: 2s;
	margin: 0.2ch;
}

.video::after {
	content: " \1F4FD";
}

.link, #index {
	background-color: #CC2121;
}

#random {
	background-color: #3333AA;
}

.link:hover, #index:hover, #random:hover {
	background-color: #CCC9AD;
	transition: 0s;
}

.link:hover, #index:hover {
	text-shadow: 0 0 0.5ch #CC2121;
	box-shadow: 0 0 1ch #CC2121;
}

#random:hover {
	text-shadow: 0 0 0.5ch #3333AA;
	box-shadow: 0 0 1ch #3333AA;
}

iframe {
	align: center;
}

@media (max-aspect-ratio: 16/9) {
	iframe {
		width: 100%;
		height: 56vw;
	}
}

@media (min-aspect-ratio: 16/9) {
	iframe {
		width: 178vh;
		height: 100vh;
		padding: 0 calc((100vw - 178vh) / 2);
	}
}

.website {
	height: calc(100vh - 11ch);
	width: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}

table {
	align-self: center;
	word-wrap: break-word;
}

table > caption {
	font-size: larger;
	font-weight: bold;
}

table, th, td {
	font-family: Arial, Helvetica, sans-serif;
	border: solid;
	border-collapse: collapse;
	padding: 0.5ch;
	text-align: right;
}

th {
	background-color: #CC2121;
	color: black;
	font-style: bold;
	border-color: #CCC9AD;
	text-align: center;
}

th {
	border-bottom: 5px solid #CCC9AD;
}

em {
	font-style: inherit;
	background-color: #3333AA;
}

mark {
	background-color: #3333AA;
	color: inherit;
}

/* Blockquote: Email, Memo */
.email, .memo {
	font-family: Arial, Helvetica, sans-serif;
	border: solid;
	padding: 1ch;
	max-width: 82ch;
	box-sizing: border-box;
	align-self: center;
}

.email blockquote, .memo blockquote {
	border-left: solid #3333AA 2px; 
	padding-left: 2ch;
	margin-left: 0;
}

.email header {
	display: flex;
	flex-direction: column;
}

.email > header > .from { order: 1; }
.email > header > .to { order: 2; }
.email > header > .cc { order: 3; }
.email > header > .date { order: 4; }
.email > header > .subject { order: 5; }

/* Mobile */
@media (max-width: 82ch) {
	body {
		font-size: large;
	}
	
	.email, .memo {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
	
	.email blockquote, .memo blockquote {
		margin-right: 0;
		padding-left: 0.5ch;
		padding-right: 0;
	}
}
